/* Space out content a bit */
/*@font-face {
        font-family: 'BPreplay';
        src: url('fonts/bpreplay.eot');
        src: local('://fonts/fonts/bpreplay/'), url('fonts/bpreplay.svg#bpreplay') format('svg'), url('fonts/bpreplay.woff') format('woff'),  url('fonts/bpreplay.ttf') format('truetype');
 }
.bpreplay {
 font-family: 'BPreplay';
line-height: 140%;
}*/

body {
  background-size: cover;
  width: 100%;
  height: 100%;
}

html {
  background: url(../images/mountainTop.jpg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
}

/*img {
  height: auto;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:20px;
}*/

button {
  width: 120px;
  height: 40px;
  border: 5px solid white;
  font-family: 'Quicksand', sans-serif;  
  color: white;
  font-size: 3.5em;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: #fff;

}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

.tab {
  color: #fff;
  padding: 5px 5px;
  display: inline-block;
  cursor: pointer;
  /*border: 3px solid white;*/
  border-radius: 3px;
  width: auto;
  height: 20px;
  margin: 10px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  transition: background 0.8s ease;
}

.tab:hover {
  background: #fff;
  color: #777;
  opacity: 45%;
  transition: color 0.8s ease;
}

.medallion {
  margin: 20px;
  /*position: fixed;
  height: auto;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:20px;
  border: 10px solid white;
  border-radius: 100%*/
}

.center-container {
    text-align: center;
    margin:0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}

.center-container img {
  width: 50%;
  height: auto;
}

.subtitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
}

.button {
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 3px;
  width: 100px;
  height: 20px;
  margin:50px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  transition: background 0.8s ease;
}

.button:hover {
  /*background: #fff;*/
  color: #777;
  opacity: 45%;
  transition: color 0.8s ease;
}

.button:active {
  background: #fff;
}

.ctr-bttn {
  margin: 0 auto;
}

.whereImg {
  background: url(../images/planks.jpg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
}

.size-d {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #fff;
}

.about {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
  text-align: left;
  color: #fff;
  margin: 0 auto;
  padding: 30px;
  width: 75%;
}

@media (max-width: 600px) {
  .center-container img {
    width: 100%;
    height: auto;
  }

  .subtitle {
    font-size: 1.5em;
  }
}



/*}*/

/*@media (max-width: 480px) {
    .lead {*/
        /*top: 50%;*/ /* IMPORTANT */
        /*left: 50%;*/ /* IMPORTANT */
        /*display: block;*/
        /*position: absolute;*/
        /*background: url(images/medallion.png) no-repeat center center;*/
        /*width: 600px;*/
        /*height: 600px;*/

        /*margin-top: 50%;*/ /* HALF OF THE HEIGHT */
        /*margin-left: 50%;*/ /* HALF OF THE WIDTH */
 /*   }
}*/

/*body {
  padding-top: 20px;
  padding-bottom: 20px;
}*/

/*h1 {
  font-family: 'BPreplay';
  color: white;
  font-size: 6em;
  text-align: center;
  width: 400px;
  height: 400px;
}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
*/
/* Custom page header */
/*.header {
  border-bottom: 1px solid #e5e5e5;
}*/
/* Make the masthead heading the same height as the navigation */
/*.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}*/

/* Custom page footer */
/*.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}*/

/* Customize container */
/*@media (min-width: 768px) {
  .center-container {
    top: 50%;
    left: 50%;
    border: 10px solid white;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    padding: 50px;
    
}
  }
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}*/

/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}*/

/* Supporting marketing content */
/*.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}*/

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {*/
  /* Remove the padding we set earlier */
  /*.header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }*/
  /* Space out the masthead */
  /*.header {
    margin-bottom: 30px;
  }*/
  /* Remove the bottom border on the jumbotron for visual effect */
  /*.jumbotron {
    border-bottom: 0;
  }
}*/
