<!-- <div class="bg">
  <img src="images/mtn-lake2.jpg" alt="">
</div> -->

<div class="center-container">
    
    <div class="text-screen"></div>

    <div class="about" >



    	<h3>MOD CABS | Modern, architect designed, DIY cabins.</h3>

    	<p>Every now and then, we all need a little peace and quiet, time to relax and play...a get away. MOD CABS are a collection of easy to build, modern, architect designed tiny house plans. Weather you want to fully detach with a primitive "no-grid" shelter, a sustaiable "off-the-grid" retreat, or a fully functional (but simple) home...we've got you covered. Our plans range in size from 150 - 1000 square feet and designs are optimized by climate type.
    	</p>

    	<h3>How it works...</h3>

    	<p>Step 1: Contact your local municipality (city, town, or county) and determine what is required to obtain a building permit.</p>
    	<p>Step 2: Find the right MOD CAB, and download a set of plans.</p>
    	<p>Step 3: Take your plans to the local municipality and apply for a permit. Some municipalities require a local architect, or contractor to modify or approve construction documents per local codes and regulations.</p>
    	<p>Step 4: Once a permit is obtained, begin sourcing and pricing your materials. Your downloaded set will include a full spec sheet of recommended building materials. Most materials required for MOD CABS can be easily obtained from local home improvement warehouse stores.</p>
    	<p>Step 5: Now your ready to begin building. Your packet will include step by step instructions as well as an instructional video to help you through the process. Feel free to adjust or modify the design however you'd like...it's your place!</p>
    	<p>Step 6: Live simply, and enjoy the rewarding feeling of building your own home.</p>

        <div class="ctr-bttn button button2" ui-sref="climate">start now</div>

    </div>


    
</div>