<!-- <div class="bg">
  <img src="images/mtn-lake2.jpg" alt="">
</div> -->

<div class="center-container">

	<!-- <div class="climate-container"> -->
		<h1>Where will you build your ModCab?</h1>
			<div class="button btn" ui-sref="mtn">mountains</div><br>
			<p class="describe txt hide">Warm in summer, cold and (very) snowy in winter</p><br>
			<div class="button btn" ui-sref="des">desert</div><br>
			<p class="describe txt hide">Hot in summer, mild in winter</p><br>
			<div class="button btn" ui-sref="coast">coast</div><br>
			<p class="describe txt hide">Mild in summer and winter, but always downright windy</p><br>
			<div class="button btn" ui-sref="temp">temperate</div><br>
			<p class="describe txt hide">Hot and humid in the summer, cold and snowy in winter...like Michigan</p>
	<!-- </div> -->
	<!-- <div class="climate-choice">
		<div class="button" ui-sref="mtn">mountains</div>
		<p class="describe">Warm in summer, cold and (very) snowy in winter</p>
	</div>
	<div class="climate-choice">
		<div class="button" ui-sref="des">desert</div>
		<p class="describe">Hot in summer, mild in winter</p>
	</div>
	<div class="climate-choice">
		<div class="button" ui-sref="coast">coast</div>
		<p class="describe">Mild in summer and winter, but downright windy</p>
	</div>
	<div class="climate-choice">
		<div class="button" ui-sref="temp">temperate</div>
		<p class="describe">Hot and humid in the summer, cold and snowy in winter...like say, Michigan</p>
	</div> -->

</div>

