<div class="bg">
  <img src="images/weeds-ocean.jpg" alt="">
</div>

<div class="center-container">

	<h1>Coastal ModCabs</h1>

	<div class="button" ui-sref="small">small</div>
	<p class="size-d">150 - 300 square feet</p><br>
	<div class="button" ui-sref="medium">medium</div>
	<p class="size-d">300 - 500 square feet</p><br>
	<div class="button" ui-sref="large">large</div>
	<p class="size-d">500 - 800 square feet</p><br>
	<div class="button" ui-sref="xlarge">xlarge</div>
	<p class="size-d">800 - 1000 square feet</p>
</div>