<div class="mtnTop">
	<!-- <img src="/images/mountainTop.jpg" alt=""> -->
</div>

<div class="center-container">
    <div class="medallion">
    <img src="images/medallion.png">
    </div>

    <div class="subtitle">Modern, architect designed, DIY cabins. Customized by you.</div><br>
     <div class="subtitle">GET AWAY - GO OFFLINE - BUILD SOMETHING</div><br>
    <div class="ctr-bttn button" ui-sref="climate">find a plan</div>

    <div class="about">
    	<p>Every now and then, we all need a little peace and quiet, time to relax and play...a get away. 
    	MOD CABS are a collection of easy to build, modern, architect designed tiny house plans. Weather you want to fully detach with a primitive "no-grid" shelter, a sustaiable "off-the-grid" retreat, or a fully functional (but simple) home...we've got you covered. Our plans range in size from 150 - 1000 square feet and designs are optimized by climate type.</p>
    </div>
  </div>
