<div class="bg">
  <img src="images/weeds2.jpg" alt="">
</div>

<div class="temp-image">
	<div class="center-container">

		<div class="plan-row">
			<h1>Choose your ModCab</h1>
			<div class="plan-option">
					<h2>Ottawa</h2>
					<img src="images/small.png">
					<h3>$500</h3>
					<h3>300sf sleeps 4 adults</h3>
					<p>Small and simple, this cabin offers just what you need. A good sized deck, a dry place to sleep, a small kitchen, and enough space to eat and hang out...if it's raining outside, of course.</p>
					<div class="button" ui-sref="small">select</div>
			</div>
			<div class="plan-option">

					<h2>Mackinaw</h2>
					<img src="images/med.png">
					<h3>$800</h3>
					<h3>400sf sleeps 4 adults</h3>
					<p>Cozy. This cabin gives you everything you get in the small plan, but with added elbow room. The Mackinaw is more suitable for colder climates, where you might spend a little more time indoors.</p>
					<div class="button" ui-sref="medium">select</div>
			</div>
			<div class="plan-option">
					<h2>Traverse</h2>
					<img src="images/lrg.png">
					<h3>$1000</h3>
					<h3>800sf sleeps 8 adults</h3>
					<p>Comfortable. The large cabin is suitable for living. Two seperate sleeping areas in addition to a large sleeping loft, a bathroom with a tub, dining space, a decent sized living room and kitchen.</p>
					<div class="button" ui-sref="large">select</div>
			</div>
		</div>

		<!-- <div class="button" ui-sref="small">small</div>
	<p class="describe">150 - 300 square feet</p><br>
	<div class="button" ui-sref="medium">medium</div>
	<p class="describe">300 - 500 square feet</p><br>
	<div class="button" ui-sref="large">large</div>
	<p class="describe">500 - 800 square feet</p><br>
	<div class="button" ui-sref="xlarge">xlarge</div>
	<p class="describe">800 - 1000 square feet</p><br>

	<div class="ctr-bttn button" ui-sref="climate">start over</div> -->
	</div>
</div>